{% extends 'home/basic.html' %}

{% block css %}
<style>
    #workportfolio{display: none}
</style>
{% endblock %}

{% block body %}
{% load static %}
{% load widget_tweaks %}

<div class="col-12 col-md-3 col-2 bd-sidebar">
      <a href="{% url 'home:profile' %}">Go to your dashboard</a>
</div>

<div class="container" style="height: ; margin: 30px; 40px; 20px;" >
    
    <div class="row">
        <div class="col-xs-6" style="margin-right: 30px;">
            {% if resulted_user_profile.profile_picture %}
                <img src="{{ resulted_user_profile.profile_picture.url }}" class="userprofile img-responsive" style="border-radius: 50%; width: 122px; height: 122px;" onerror="{% static 'home/no_image.png' %}">
            {% else %}
                <img src="{% static 'home/no_image.png' %}" class="userprofile img-responsive" style="border-radius: 50%; width: 122px; height: 122px;">
            {% endif %}
        </div>
        <div class="col-xs-6" style="margin-right: 30px;">
            <p>{{ resulted_user.first_name }} {{ resulted_user.last_name }}</p>
            <p>{{ resulted_user_profile.occupation }} </p>
            
        </div>

        <div class="col-xs-6" style="margin-right: 60px;">
           
        </div>
    </div>
</div>


<div class="container">
    <div class="row user_profile_navbar" style="background-color: #2c2c54;">
        <div class="col-sm-3">
            <a href="javascript:void(0)" onclick="packageToggle()"><div class="header" style="background-color: #d1ccc0;">Packages</div></a>
        </div>
        <div class="col-sm-3">
            <a href="javascript:void(0)" onclick="sampleworkToggle()"><div class="header description" style="background-color: #2c2c54;">Sample Works</div></a>
        </div>
        <div class="col-sm-3">
            <a href="javascript:void(0)" onclick="workportfolioToggle()"><div class="header" style="background-color: #2c2c54;">Work Portfolio</div></a>            
        </div>
        <div class="col-sm-3">
            <a href="javascript:void(0)" onclick="clientreviewsToggle()"><div class="header" style="background-color: #2c2c54;">Reviews</div></a>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6" style="margin-right: 30px;">
                <img src="{% static 'home/no_image.png' %}" class="img-responsive" onerror="{% static 'home/no_image.png' %}" style="margin: 15px 15px 15px 15px;">           
        </div>
    </div>
    <div class="row" id="servicepackages" style="display: block">
        {% if service_package %}
                <div class="">
                    <table class="table">
                        <thead style="background-color: #D980FA">
                            <tr>
                                <th>Name</th>
                                <th>Details</th>
                                <th>Description</th>
                                <th>Delivery</th>
                                <th>Cost</th>
                            </tr>
                        </thead>
                        {% for projs in service_package %}
                        <tr>
                            <td>{{ projs.name }} </td>
                            <td>
                                {% for det in projs.get_detail_list %}
                                    <p>{{ det}}</p>
                                {% endfor %}
                            </td>
                            <td style="overflow-x: hidden">{{ projs.description }} </td>
                            <td> {{ projs.delivery_timeline }} </td>
                            <td class="btn btn-primary">GH¢: {{ projs.cost }}</td>
                        </tr>
                        {% endfor %}
                    </table>
                {% endif %}
        </div>
    </div>
    <div class="row" id="workportfolio">
        {% if resulted_user_service %}
            <div class="">
                <table class="table">
                    <thead style="background-color: #D980FA">
                        <tr>
                            <th>Title</th>
                            <th>Category</th>
                            <th>Service</th>
                            <th>Description</th>
                            <th>Image</th>
                        </tr>
                    </thead>
                    {% for services in resulted_user_service %}
                    <tbody>
                        <tr>
                            <td>{{ services.title }}</td>
                            <td>{{ services.category.name }}</td>
                            <td>{{ services.service.name }} </td>
                            <td>{{ services.description }} </td>
                            {% if services.image %}
                            <td><img src="{{ services.image.url }}" width="100px" height="100px" ></td>
                            {% else %}
                            <td><img src="{% static 'home/no_image.png' %}" width="100px" height="100px"></td>
                            {% endif %}
                        </tr>
                    </tbody>
                    {% endfor %}
                </table>
            </div>
                
        {% endif %}
     
    </div>
</div>

<!--

<div class="container">
    {{ resulted_user.username }}<br/>
    {{ resulted_user.email }}<br/>
    {{ resulted_user_profile.city }}<br/>
    <a href="{% url 'home:sendmessage' resulted_user.id %}">Message</a>
</div>
    
-->



<script>
    function packageToggle() {
        document.getElementById('servicepackages').style.display = 'block';
        //document.getElementById('sampleworks').style.display = 'none';
        document.getElementById('workportfolio').style.display = 'none';
        //document.getElementById('clientreviews').style.display = 'none';
    }
</script>
<script>
    function sampleworkToggle() {
        document.getElementById('servicepackages').style.display = 'none';
        //document.getElementById('sampleworks').style.display = 'block';
        document.getElementById('workportfolio').style.display = 'none';
        //document.getElementById('clientreviews').style.display = 'none';
    }
    
</script>
<script>
    function workportfolioToggle() {
        document.getElementById('servicepackages').style.display = 'none';
        //document.getElementById('sampleworks').style.display = 'none';
        document.getElementById('workportfolio').style.display = 'block';
        //document.getElementById('clientreviews').style.display = 'none';
    }
</script>
<script>
    
    function clientreviewsToggle() {
        document.getElementById('servicepackages').style.display = 'none';
        //document.getElementById('sampleworks').style.display = 'none';
        document.getElementById('workportfolio').style.display = 'none';
        //document.getElementById('clientreviews').style.display = 'block';
    }
    
</script>


{% endblock %}






